.boxes
    .wrapper
        .middle-wrap
            .boxes__container
                h2 Watch the videos and
                    span.color--green-light  get the boxes

                p While watching the feed you can get boxes  with NFT or LEE tokens

            .boxes__decoration
                img(src="assets/images/background/boxes.png" alt="" draggable="false")
