.buy
    .wrapper
        .buy__container
            .buy__caption Don’t miss the
                span.color--green-light  Presale

            a.button__primary(href="/") Buy NFT glasses

            .buy__decoration.buy__decoration--top
                img(src="assets/images/background/buy-decor-top.png" alt="" draggable="false")

            .buy__decoration.buy__decoration--bottom
                img(src="assets/images/background/buy-decor-bottom.png" alt="" draggable="false")
