.preloader-page
    .preloader-page_logo
        img(src="assets/images/logo.png" alt="" draggable="false")

    .preloader-page_progress-wrapper
        .preloader-page_progress

    .preloader-page_message &nbsp;
