.step
    .wrapper
        .middle-wrap
            .step__container
                div
                    .step__count 1

                    p Sign-up and get
                        br
                        |  your
                        span.color--green-light  free NFT glasses

                div
                    .step__count 2

                    p Watch the feed and get the boxes
                        br
                        span.color--green-light  with LEE tokens

                div
                    .step__count 3

                    p Buy your NFT glasses and
                        span.color--green-light  get LEE tokens
                        |  directly when watching the feed

                    .step__margin The higher the rarity 
                        br
                        |  of your NFT glasses,
                        br
                        |  the more points you get
                        br
                        |  when leveling them  
                        br
                        | up – the more tokens
                        br
                        |  you can earn

                div
                    .step__count 4

                    p Upgrade your
                        br
                        span.color--green-light  NFT glasses

                div
                    .step__count 5

                    p
                        span.color--green-light  Buy additional
                            br
                            | NFT glasses
                        br
                        |  to increase the amount of Attention
                        br
                        |  and rewarded time of watching the feed

                    .step__margin 1 Attention =
                        b  10 minutes
                        br
                        |  of rewarded feed viewing

            .step__decor
                img(src="assets/images/background/step-ntn.png" alt="" draggable="false")

            .step__decoration
                picture
                    source(srcset="assets/images/background/step.webp" type="image/webp")
                    img(src="assets/images/background/step.jpg" alt="" draggable="false")
