.team
    .wrapper
        .middle-wrap
            .team__content
                .team__caption Cheelee team has
                    span.color--green-light  already launched product

                p The project is based on the already launched in 2021 short video platform – NUTSon (1.5M users, 33% engagement rate and 15K videos created daily)

            .team__decoration
                picture
                    source(srcset="assets/images/background/team.webp" type="image/webp")
                    img(src="assets/images/background/team.jpg" alt="" draggable="false")
