
$white: #ffffff;
$whiteLight: #E5F7FF;
$primary: #FCFCFD;
$secondary: #5E636E;

$violet: #140132;
$violetSecondary: #7156FD;
$violetLight: rgba(113, 86, 253, 0.20);
$violetExtraLight: rgba(113, 86, 253, 0.30);
$pink: #FF0DFF;
$greenLight: #01FFC2;
