block menu
    -
        var dataMenu = [
            {
                title: 'About us',
                url: '/about'
            },
            {
                title: 'Roadmap',
                url: '/roadmap'
            },
            {
                title: 'Documents',
                url: '/documents'
            },
            {
                title: 'F.A.Q.',
                url: '/faq'
            },
            {
                title: 'Buy NFT glasses',
                url: '/buy'
            }
        ]
