block socials
    -
        var dataSocials = [
            {
                url: '/',
                imageUrl: 'assets/images/icons/social-discord.svg'
            },
            {
                url: '/',
                imageUrl: 'assets/images/icons/social-telegram.svg'
            },
            {
                url: '/',
                imageUrl: 'assets/images/icons/social-twitter.svg'
            },
            {
                url: '/',
                imageUrl: 'assets/images/icons/social-facebook.svg'
            },
            {
                url: '/',
                imageUrl: 'assets/images/icons/social-instagram.svg'
            },
            {
                url: '/',
                imageUrl: 'assets/images/icons/social-medium.svg'
            }
        ]
