include pug/layout/layout

.root
    header
        include pug/components/header

    main
        .container
            section
                include pug/components/hello

            section
                include pug/components/about

            section
                include pug/components/step

            section
                include pug/components/boxes

            section
                include pug/components/buy

            section
                include pug/components/team
